# Ignorer l'environnement virtuel
djangochat_env/
env/
# Fichiers de base Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/

# Fichiers de base de Django migrations
*.db
*.sqlite3
# Ignorer uniquement les fichiers compilés des migrations
*/migrations/__pycache__/
*/migrations/*.pyc


# Fichiers de configuration de l'IDE (PyCharm, VSCode, etc.)
.vscode/
.idea/

# Fichiers de sauvegarde
*~
*.bak
*.swp

# Fichiers de configuration du système (macOS, Windows)
.DS_Store
Thumbs.db

# Fichiers générés par Django collectstatic
/static/

# Fichiers générés par les outils de packaging
*.egg
*.egg-info/
dist/
build/

# Eviter de suivre les fichiers de configuration personnels (par exemple pour l'utilisateur)
*.env
*.ini
*.local


